.Question 
{
	text-align: center; 
	font-size: 50px; 
	font-weight: bold;
}

.button{
transition-duration: 0.4s; 
text-align: center; 
margin-bottom: 10px;
margin-top: 10px;
margin-right: 10px;
margin-left: 10px;
height: 25%;
width: 50%;
display: inline-block; 
font-weight: bold; 
font-size: 25px; 
text-color: white;
}

body{
font-family: Monaco;
}

.testing
{
border: 5px solid black;
font-size: 25px;
background-color: #368f44;
}

.button1{
background-color: #e21b3c; 
border: 2px solid #dd657d; 
text-color: white;
} 

.button1:hover{
background-color: #e21b3c;
opacity: 0.3;
text-color: black;
}
.button2{
background-color: #1368ce; 
border: 2px solid #5c8ac2; 
text-color: white;
} 

.button2:hover{
background-color: #1368ce;
opacity: 0.3;
text-color: black;
}
.button3{
background-color: #d89e02; 
border: 2px solid #cba964; 
text-color: white;
} 

.button3:hover{
background-color:#d89e02;
opacity: 0.3;
text-color: black;
}
.button4{
background-color: #27890d; 
border: 2px solid #70a15e; 
text-color: white;
} 

.button4:hover{
background-color: #27890d;
opacity: 0.3;
text-color: black;
}
p 
{

}
